body{
    background-color: rgb(219, 230, 231);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: white;
    align-items: center;
    padding: 15px;
    width: 220px;
    height: 350px;
    border-radius: 15px;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-size: 15px;
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
}

.card-info{
    font-size: 11px;
    color: gray;
    text-align: center;
    font-weight: 450;
    margin-top: -8px;
}